.body
	
	.hero-img
		.overlay
		img.overlay-logo(src="../images/saq-logo.png")


	.container

		.loading
			.inner

		// Homepage body
		.products

			h1.categories Categories

			.row
				.col-md-3.col-sm-4.product
					.product-image
						img(src="https://www.saq.com/content/dam/saq/section-produits/icn-verres-vin.jpg", width="150", height="150", category="merlot")
					.product-name Wine

				.col-md-3.col-sm-4.product
					.product-image
						img(src="https://www.saq.com/content/dam/saq/section-produits/icn-verres-spiritueux.jpg", width="150", height="150")
					.product-name Spirits

				.col-md-3.col-sm-4.product
					.product-image
						img(src="https://www.saq.com/content/dam/saq/section-produits/icn-verres-champagne-mousseux.jpg", width="150", height="150")
					.product-name Champagne

				.col-md-3.col-sm-4.product
					.product-image
						img(src="https://www.saq.com/content/dam/saq/section-produits/icn-verres-porto-vins-fortifies.jpg", width="150", height="150")
					.product-name Porto
				
				.col-md-3.col-sm-4.product
					.product-image
						img(src="https://www.saq.com/content/dam/saq/section-produits/icn-verres-vins-dessert.jpg", width="150", height="150")
					.product-name Dessert Wine
					
				.col-md-3.col-sm-4.product
					.product-image
						img(src="https://www.saq.com/content/dam/saq/section-produits/icn-verres-aperitifs.jpg", width="150", height="150")
					.product-name Aperatif
				
				.col-md-3.col-sm-4.product
					.product-image
						img(src="https://www.saq.com/content/dam/saq/section-produits/icn-verres-boissons-rafraichissantes.jpg", width="150", height="150")
					.product-name Coolers and Cocktails
					
				.col-md-3.col-sm-4.product
					.product-image
						img(src="https://www.saq.com/content/dam/saq/section-produits/icn-verres-biere.jpg", width="150", height="150")
					.product-name Beer
		
		// Search Results
		.results
			.results-header