header
	
	ul.hamburger
		li.hamburger-layer
		li.hamburger-layer
		li.hamburger-layer

	.searchbar
		input.search-input#search-input(type="text", placeholder="Search")
		span.glyphicon.glyphicon-search#search-icon(aria-hidden="true")
