.sidebar

	.logo
		img(src="../images/coveo-logo.png" width="100" height="100")

	.sidebar-inputs

		.sidebar-search
			input.sidebar-search-input(type="text", placeholder="Search")

		// On special
		.sidebar-section
			p.sidebar-lead On special
			
			.input-group
				input(type="checkbox" id="cb1")
				label(for="cb1") True

		// Availability
		.sidebar-section
			p.sidebar-lead Availability
			
			.input-group
				input(type="checkbox" id="cb1")
				label(for="cb1") In Store
			
			.input-group
				input(type="checkbox" id="cb2")
				label(for="cb2") Online
			
			.input-group
				input(type="checkbox" id="cb3")
				label(for="cb3") Available Soon
		
		// Category
		.sidebar-section
			p.sidebar-lead Category
		
			.input-group
				input(type="checkbox" id="cb1")
				label(for="cb1") Red Wine
			
			.input-group
				input(type="checkbox" id="cb2")
				label(for="cb2") White Wine
			
			.input-group
				input(type="checkbox" id="cb3")
				label(for="cb3") Scottish Whiskey

		// Country
		.sidebar-section
			p.sidebar-lead Country

			.input-group
				input(type="checkbox" id="cb1")
				label(for="cb1") France
			
			.input-group
				input(type="checkbox" id="cb2")
				label(for="cb2") Italy
			
			.input-group
				input(type="checkbox" id="cb3")
				label(for="cb3") United States

			.input-group
				input(type="checkbox" id="cb3")
				label(for="cb3") Canada

			.input-group
				input(type="checkbox" id="cb3")
				label(for="cb3") Spain

		// Region
		.sidebar-section
			p.sidebar-lead Region

			.input-group
				input(type="checkbox" id="cb1")
				label(for="cb1") Bordeaux
			
			.input-group
				input(type="checkbox" id="cb2")
				label(for="cb2") Quebec
			
			.input-group
				input(type="checkbox" id="cb3")
				label(for="cb3") California

		// Vintage
		.sidebar-section
			p.sidebar-lead Vintage

			.input-group
				input(type="checkbox" id="cb1")
				label(for="cb1") 2015
			
			.input-group
				input(type="checkbox" id="cb2")
				label(for="cb2") 2014
			
			.input-group
				input(type="checkbox" id="cb3")
				label(for="cb3") 2013

			.input-group
				input(type="checkbox" id="cb3")
				label(for="cb3") 2012

			.input-group
				input(type="checkbox" id="cb3")
				label(for="cb3") 2011