.sidebar

	.logo
		img(src="images/coveo-logo.png" width="100" height="100")

	.sidebar-inputs

		.sidebar-search
			input.sidebar-search-input(type="text", placeholder="Advanced Search")

		// Price slider
		.price-label Maximum Price
		.sidebar-slider
			input#price(type="range" value="500" min="0" max="500")
		.price-value 500$

		// On special
		.sidebar-section
			p.sidebar-lead On special
			
			.input-group
				input.sidebar-input(type="checkbox" id="on-special" dbcol="tpenspecial" value="true")
				label(for="on-special") True

			.sidebar-btn-container
				.sidebar-btn Search

		// Country
		.sidebar-section
			p.sidebar-lead Country

			.input-group
				input.sidebar-input(type="checkbox" id="france" dbcol="tppays" value="France")
				label(for="france") France
			
			.input-group
				input.sidebar-input(type="checkbox" id="italy" dbcol="tppays" value="Italie")
				label(for="italy") Italy
			
			.input-group
				input.sidebar-input(type="checkbox" id="etats-unis" dbcol="tppays" value="Etats-Unis")
				label(for="etats-unis") United States

			.input-group
				input.sidebar-input(type="checkbox" id="canada" dbcol="tppays" value="Canada")
				label(for="canada") Canada

			.input-group
				input.sidebar-input(type="checkbox" id="espagne" dbcol="tppays" value="Espagne")
				label(for="espagne") Spain

			.sidebar-btn-container
				.sidebar-btn Search

		// Vintage
		.sidebar-section
			p.sidebar-lead Vintage

			.input-group
				input.sidebar-input(type="checkbox" id="2015" dbcol="tpmillesime" value="2015")
				label(for="2015") 2015
			
			.input-group
				input.sidebar-input(type="checkbox" id="2014" dbcol="tpmillesime" value="2014")
				label(for="2014") 2014
			
			.input-group
				input.sidebar-input(type="checkbox" id="2013" dbcol="tpmillesime" value="2013")
				label(for="2013") 2013

			.input-group
				input.sidebar-input(type="checkbox" id="2012" dbcol="tpmillesime" value="2012")
				label(for="2012") 2012

			.input-group
				input.sidebar-input(type="checkbox" id="2011" dbcol="tpmillesime" value="2011")
				label(for="2011") 2011

			.sidebar-btn-container
				.sidebar-btn Search
